body {
text-decoration: none;
margin: 0;
padding: 0;
}

.principal {
    display: flex;
    justify-content: center;
    text-align: center;
}

.texto {
position: absolute;
top: 20vh;
width: 50vw;
color: lightcyan;

}

.pesquisa {
    position: absolute;
    top: 38vh;
    
}

input {
    border-radius: 15px;
    width: 20vw;
    height: 5vh;
    border-style: groove;
    border-color: cadetblue;
}

img {
    width: 100vw;
    height: 60vh;

}

.simbolo {
    position: absolute;
    color:red;
    top: 38vh;
    right: 44%;
}

.entrar {
    position: absolute;
    left: 80%;
}

.sair {
    position: absolute;
    background-color: black;
    height: 100%;
    left: 90%;
    border-radius: 20%;
}

.salvarendereco {
    position: absolute;
    top: 50vh;

}